<div class="headerNav">
	<div class="navLeftBg">
		<div>
			<h1>Emp-Admin</h1>
		</div>
		<div class="navLeft">
			<img src="../../assets/img/列表.png">
		</div>
	</div>
	<div class="navRight">
		<span style="margin-right:20px;">123</span>
		<span style="margin-right:50px;"><img src="../../../favicon.ico"/></span>
	</div>
</div>
<div class="btn-group" style="position: fixed; right: 20px; top: 35px; z-index: 2;">
	<span type="button"  data-toggle="dropdown">
		<img src="../../../assets/img/箭头.png"/>
	</span>
	<ul class="dropdown-menu dropdown-menu-right" role="menu">
		<li style="width: 200px;"><a href="#">功能</a></li>
		<li><a href="#">另一个功能</a></li>
		<li><a href="#">其他</a></li>
	</ul>
</div>
