<div class="leftbg">
	<div class="leftCon">
			<div id="accordion">
				<div  class="accordionBg">
					<div class="headerToggle">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
								<div style="margin: 10px 0;">
									<span><img src="../../../assets/img/主页.png"/></span>
									<span style="margin-left:20px;">权限管理</span>
									<span style="margin-left:180px;"><img src="../../../assets/img/箭头.png"/></span>
								</div>
							</a>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in">
						<div class="panel-body">
							<ul class="leftUl">
								<li class="leftLi">
									<a  href="javascript:void(0);" routerLink="zhuzhi" >
										<span><img src="../../../assets/img/男人.png"/></span>
										<span class="leftSpan">组织架构</span>
									</a>
								</li>
								<li class="leftLi">
									<a  href="javascript:void(0);" routerLink="user" >
										<span><img src="../../../assets/img/虫子.png"/></span>
										<span class="leftSpan">用户管理</span>
									</a>
								</li>
								<li class="leftLi">
									<a  href="javascript:void(0);" routerLink="part" >
										<span><img src="../../../assets/img/公交.png"/></span>
										<span class="leftSpan">角色管理</span>
									</a>
								</li>
								<li class="leftLi">
									<a  href="javascript:void(0);" routerLink="permission" >
										<span><img src="../../../assets/img/纸飞机.png"/></span>
										<span class="leftSpan">权限管理</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div id="accordion1">
				<div  class="accordionBg">
					<div class="headerToggle">
							<a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
								<div style="margin: 10px 0;">
									<span><img src="../../../assets/img/魔法棒.png"/></span>
									<span style="margin-left:20px;">内容管理</span>
									<span style="margin-left:180px;"><img src="../../../assets/img/箭头.png"/></span>
								</div>
							</a>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse">
						<div class="panel-body">
							<ul class="leftUl">
								<li class="leftLi">
									<a  href="javascript:void(0);" routerLink="articals" >
										<span><img src="../../../assets/img/手机.png"/></span>
										<span class="leftSpan">文章管理</span>
									</a>
								</li>
								<li class="leftLi">
									<a  href="javascript:void(0);" routerLink="pinlun" >
										<span><img src="../../../assets/img/横.png"/></span>
										<span class="leftSpan">评论管理</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div id="accordion2">
				<div  class="accordionBg">
					<div class="headerToggle">
							<a data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
								<div style="margin: 10px 0;">
									<span><img src="../../../assets/img/扳手.png"/></span>
									<span style="margin-left:20px;">系统监控</span>
									<span style="margin-left:180px;"><img src="../../../assets/img/箭头.png"/></span>
								</div>
							</a>
					</div>
					<div id="collapseThree" class="panel-collapse collapse ">
						<div class="panel-body">
							<ul class="leftUl">
								<li class="leftLi">
									<a  href="javascript:void(0);" routerLink="systems" >
										<span><img src="../../../assets/img/折线图.png"/></span>
										<span class="leftSpan">系统状态</span>
									</a>
								</li>
								<li class="leftLi">
									<a  href="javascript:void(0);" routerLink="map" >
										<span><img src="../../../assets/img/定位.png"/></span>
										<span class="leftSpan">百度地图</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>
